name: Terraform Cost Estimation

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  cost-estimation:
    name: Estimate Terraform Costs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      - name: Initialize Terraform
        run: terraform init -reconfigure # Ensures backend is properly initialized

      - name: Generate Terraform Plan fake
        run: |
          touch tfplan
          echo "Fake Terraform Plan - No GCP" > tfplan
        # terraform plan -out=tfplan

      - name: Install Infracost
        run: |
          curl -fsSL https://raw.githubusercontent.com/infracost/infracost/master/scripts/install.sh | sh
          infracost --version

      - name: Set Infracost API Key
        run: echo "INFRACOST_API_KEY=${{ secrets.INFRACOST_API_KEY }}" >> $GITHUB_ENV

      - name: Generate Terraform Cost Estimate
        run: |
          infracost breakdown --path . --format json > cost-report.json
#          terraform init -backend=false # No GCP required
#          terraform plan -out=tfplan
          cat cost-report.json | jq .
          mv cost-report.json infracost-latest.json
          infracost diff --path infracost-latest.json --compare-to infracost-previous.json || true

      - name: Upload Cost Report as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: infracost-report
          path: infracost-latest.json
          retention-days: 7

      - name: Show Cost Report
        run: cat infracost-latest.json
